@media screen and (min-width: 64em) {
  body {
    background: url('splat.svg'), linear-gradient(45deg, $sea-green 26%, $blue 91%);
    background-attachment: fixed;
    background-position: center right;
    background-size: cover;
  }

  .panel {
    height: 100%;
    position: relative;
  }

  .company-header {
    font-size: 600%;
    padding: 3rem 1rem 3rem 1rem;
  }

  .subheading {
    font-size: 240%;
    line-height: 1.6;
  }

  .footer {
    font-size: 240%;
    background: $sea-green;
  }

  .section-heading {
    font-size: 380%;
    padding: 2rem 0 1.2rem 0;
  }

  .section-content {
    font-size: 170%;
    line-height: 1.4;
  }

  address {
    font-size: 250%;
    line-height: 1.6;
  }
  .address {
    font-size: 250%;
  }
}

@media screen and (min-width: 80em) {
  .company-header {
    font-size: 800%;
  }

  .subheading {
    font-size: 300%;
  }

  .section-heading {
    font-size: 480%;
  }

  .section-content {
    font-size: 220%;
    line-height: 1.4;
  }
}
