.flip-container {
	perspective: 1000;
	transform-style: preserve-3d;

	position: relative;

	width: 100%;
	height: 100%;

  &.hover .back {
    transform: rotateY(0deg);
  }

  &.hover .front {
    transform: rotateY(-180deg);

  }
}

.front, .back {
	backface-visibility: hidden;
	transition: 0.6s;
	transform-style: preserve-3d;

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*  UPDATED! front pane, placed above back */
.front {
	z-index: 2;
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
