.company-header {
  @extend .fine;
  font-size: 340%;
  padding: 0.8rem 0 0.8rem 0;
}

.subheading {
  @extend .fine;
  font-size: 160%;
  line-height: 1.4;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.footer {
  @extend .fine;
  font-size: 160%;
  position: absolute;
  bottom: 0;
  width: 100%;
  .item {
    margin: 0;
    padding: 0.4em 1em 0.4em 1em;
  }
}

.section-heading {
  @extend .fine;
  font-size: 190%;
  padding: 0.8rem 0 0.5rem 0;
}

.section-content {
  @extend .fine;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.address {
  @extend .fine;
  font-size: 180%;
  line-height: 1.4;
  margin-bottom: 0.5em;
  .icon {
    margin-left: 0.5em;
    margin-right: -1.5em;
    transition: 0.8s;
  }
  a:hover .icon {
    color: #DEFB66;
  }
}

@media screen and (min-width: 25.5em) and (orientation:portrait) {

  .subheading, .footer {
    font-size: 200%;
  }

  .section-heading {
    font-size: 280%;
  }

  .section-content {
    font-size: 140%
  }
}

@media screen and (min-width: 37.5em) and (orientation:portrait) {

  .company-header {
    font-size: 480%;
  }

  .subheading, .footer {
    font-size: 240%;
  }

  .section-heading {
    font-size: 320%;
  }

  .section-content {
    font-size: 180%
  }
}

@media screen and (min-width: 52em) and (orientation:landscape) {
  .company-header {
    font-size: 480%;
  }

  .subheading, .footer {
    font-size: 240%;
  }

  .section-heading {
    font-size: 320%;
  }

  .section-content {
    font-size: 180%
  }
}
