@import 'colors';
@import 'setup';
@import 'base';
@import 'icons';
// @import 'flip';

.panel {
  height: 100%;
  background: linear-gradient(45deg, $sea-green 26%, $dark-green 91%);
  position: relative;
}

.right-aligned {
  width: 70%;
  text-align: right;
  padding-right: 1rem;
}

h1 {
  font-size: 600%;
  padding: 3rem 1rem 2rem 1rem;
}

p{
  font-size: 200%;
  padding-left: 4em;
  line-height: 1.6;
}
.separated {
  border-top: 2px solid $charcol;
}
a {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}

@media all and (orientation: portrait) {
  h1, p, address {
    width: 100%;
    padding-right: 3rem;
  }


  address a {
    font-size: 120%;

  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 260%;
  }
}

address {
  font-weight: 100;
  font-size: 120%;
  a {
    margin-right: -1em;
  }
  a:hover i {
    color: #DEFB66;
  }
}

nav {
  position: absolute;
  bottom: 0;
  width: 100%;
    font-size: 210%;
}
.next, .previous {
  padding: 0.4em 1em 0.4em 1em;
}

.next {
  float: right;
}

.previous {
  float: left;
}
