@import 'flip';


.front, .back {
  background: green;
}

html, body {
    height: 100%;
}

h1 {
  color: white;
  padding: 0.3em;
  font-size: 300%;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Tangerine', cursive;
}
